@import "../variables";
@import "../color-functions";

@mixin button-mixin($color, $text-color){
  background-color: $color;
  color: $text-color;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 7px 40px;
  border-radius: 22px;
  box-shadow: 0 0 8px rgba($color, 0.45);
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover{
    background-color: color-lighter($color, 1.34%);
  }
}

.button_primary{
  @include button-mixin($primary, white);
}

.button_secondary{
  @include button-mixin($secondary, $dark);
}

.btn-warning{
  @include button-mixin($warning, transparent);
}

.btn-square{
  border-radius: 0;
}